<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GeekQUiz" connectionString="Server=tcp:fkysdy12hz.database.windows.net,1433;Data Source=fkysdy12hz.database.windows.net;Initial Catalog=Rudesyle;Persist Security Info=False;User ID=Rudesyle;Password=1@west#4;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>